/*Encerar los selectores*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cajasPrincipal{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 16, 16);
    width: 90%;
    margin: 0 auto;
}

.cabeceraPrincipal, .menuPrincipal, .sliderPrincipal{
    background-color: rgb(216, 134, 27);
    color: #fff;
    width: 90%;
    margin: 0 auto;
}
.cabeceraPrincipal{
    background-color: burlywood;
    box-shadow: rgb(236, 92, 8) 3px 2px 2px;

}
.cabeceraPrincipal h1, h4{
    color: firebrick;
    padding: 10px 20px;
    text-shadow: seashell 3px 2px 2px;
}

.menuPrincipal{
    background-color: rgb(230, 198, 176);
    text-align: center;
    padding-top: 10px;
    height: 30px;
}

.menuPrincipal a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;

}

.menuPrincipal a:hover{
    background-color: yellow;
    color: #141414;
}

.sliderPrincipal img{
    width: 100%;
}

.menu{
    text-align: center;
}

.h2home{
    text-align: center;
    padding: 2em 0;
    color: brown;
}

.menuPlato{
    width: 32%;
    background-color: #ededed;
    border: 1px solid #bbb6b6;
    box-sizing: border-box;
    /*height: 200px;*/
    margin-bottom: 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block;
}

.menuPlato img{
    width: 100%;
}

.menuPlato h3{
    color: rgb(173, 114, 59);
    text-align: center;
    padding: 1em 0;
}

.menuPlato p{
    font-size: 13px;
    color: black;
    padding: 0.2em 1em;
}

.menuPlato button{
    background-color: rgb(226, 141, 43);
    color: #ededed;
    padding: 0.5em 1em;
    margin-bottom: 5px;
}

.menuPlato button :hover{
    background-color: darksalmon;
}

.piePagina{
    background-color: rgb(235, 110, 8);
    color: #000000;
}

.piePagina h6{
    text-align: center;
    padding: 2em 0;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(196, 20, 128);
    }
  }

@media only screen and (max-width: 600px) {
    .menuPlato{
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.chefPrincipal{
    width: 32%;
    background-color: #ededed;
    border: 1px solid #bbb6b6;
    box-sizing: border-box;
    /*height: 200px;*/
    margin-bottom: 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-block
}

.chefPrincipal img{
    float: left;
    border-radius: 50%;
}

.chefPrincipal h3{
    color: rgb(173, 114, 59);
    text-align: center;
    padding: 3em 0;
}

.chefPrincipal button{
    background-color: rgb(226, 141, 43);
    color: #ededed;
    padding: 0.5em 1em;
    margin-bottom: 5p
}

.chefPrincipal p{
    font-size: 13px;
    color: black;
    padding: 0.2em 1em;
    text-align: justify;
    
    
}

